body {
  color: #414141;               /* Dark gray */
  background-color: #EEEEEE;    /* Light gray */
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;                              /* Add this */
}
ul {
  list-style-type: circle;
}

ol {
  list-style-type: lower-roman;
}
body {
  text-align: center;
}
font-weight: bold;

.button:link,                 /* Change this */
.button:visited {             /* Change this */
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */

  color: #FFF;                /* The rest is the same */
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}
.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #D55C5F;    /* Red */
}.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #D55C5F;    /* Red */
}
#ABOUT {
  background-color: #D55C5F;    /* Red */
}
.button:link,                 /* Change this */
.button:visited {             /* Change this */
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */

  color: #FFF;                /* The rest is the same */
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}
.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #D55C5F;    /* Red */
}.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #D55C5F;    /* Red */
}
#WRITING {
  background-color: #D55C5F;    /* Red */
}
.button:link,                 /* Change this */
.button:visited {             /* Change this */
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */

  color: #FFF;                /* The rest is the same */
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}
.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #D55C5F;    /* Red */
}.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #D55C5F;    /* Red */
}
#DESIGNS {
  background-color: #D55C5F;    /* Red */
}
