@font-face {
  font-family: Bebas;
  src: url(bebas/Bebas-Regular.ttf);
}

html {
  background-color: #edeff0
}

h1 {
  font-size: 5em;
  float: left;
  font-family: bebas;
  font-weight: bold;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  font-family: verdana;
  font-weight: normal;
  color: black;
}

h3 {
  font-family: verdana;
}

hr {
  background-color: black;
  margin-top: 0px;
  margin-bottom: 2%;
}

#input1 {
  width: 60%;
  height: 60%;
  color: white;
  margin-bottom: 0%;
  padding-top: 20%;
}

#input2 {
  width: 70%;
  height: 70%;
  color: white;
  margin-bottom: -10%;
}

#input3 {
  width: 50%;
  height: 50%;
  color: white;
  margin-bottom: 0%;
  margin-top: : 20%;
  padding-top: 20%;
}

.div4{
  text-align: center;
  font-family: verdana;
  padding-left: 8%;
  padding-right: 8%;
}

#input4 {
  border: none;
  color: white;
  padding: 12px 16px;
  cursor: pointer;
  height: 5%;
  width: 5%;
  float: right;
}
.div5 {
  width: 50%;
  height: 50%;
  font-family: verdana;
  font-weight: normal;
  margin: auto;
  background-color: #d6d6d6;
}

.div6 {
  text-align: right;
  font-family: verdana;
  font-weight: bold;
  color: black;
}

.div3 {
  display: inline-block;
  width: 20%;
  height: 50%;
  margin: auto;
  text-align: center;
  padding-left: 41%;
}
